flair>=0.15.1
torch>=1.13.1
transformers>=4.40.0
spacy>=3.8.4
fr_core_news_md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.8.0/fr_core_news_md-3.8.0-py3-none-any.whl
nltk>=3.9.1
pdfplumber>=0.11.5
pdf2image>=1.17.0
PyMuPDF>=1.26.0
PyQt6>=6.4.0
PyQt6-WebEngine>=6.4.0
joblib>=1.4.2
pandas>=2.2.3
scikit-learn>=1.6.1
rapidfuzz>=3.12.1
requests>=2.25.1
supabase>=2.15.0
Unidecode>=1.4.0


